.modal-container {
  box-sizing: inherit;
}

.modal-background {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.modal-content {
  overscroll-behavior: contain;
  top: 420px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 9999;
  max-width: 100%;
  width: 800px;
}
