.gridContainer {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    gap: 10px;
    margin: 20px;
}

.buttonElement {
    margin-top: 10px;
    background: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 32px;
    display: flex;
    align-items: center;
}

.buttonElement:hover {
    color: white;
}

.textContainer {
    height: 3em;
    text-overflow: ellipsis;
}